{% extends 'base.html' %}
{% load static %}

{% block customheaders %}
  <link rel="stylesheet" href="{% static 'styles/news.css' %}">
{% endblock customheaders %}

{% block content %}

<div class="news">
  <div class="container">

    <div class="search-cont">
      <input type="text" placeholder="Buscar">
      <div class="icon">
        <img src="{% static 'images/search_icon.png' %}" alt="">
      </div>
    </div>
  
    <div class="news-container row">
      {% for news_item in news %}
      <a href="/news/{{ news_item.slug }}" class="news-item row">
        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-6 column">
              <div class="topic">{{ news_item.category.name }}</div>
              <div class="title">{{ news_item.title }}</div>
              {% if news_item.subtitle %}
              <div class="subtitle">{{ news_item.subtitle }}</div>
              {% endif %}
              <div class="autor">Publicado por <b>{{ news_item.autor.names }} {{ news_item.autor.last_names }}</b></div>
              <div class="date">{{ news_item.created_at|date:"d" }} de {{ news_item.created_at|date:"F, Y" }}</div>
            </div>
            <div class="col-sm-6 column">
              <div class="topic">&nbsp;</div>
              <div class="content">{{ news_item.abstract | safe }}</div>
            </div>
          </div>
        </div>
        <div class="col-sm-3 column">
          <div class="image" style="background: url({{ news_item.image.url }});"></div>
        </div>
      </a>
      {% endfor %}
    </div>
    
  </div>
</div>

{% endblock content %}

{% block script %}
{% endblock script %}
