{% extends 'base.html' %}
{% load static %}

{% block customheaders %}
  <link rel="stylesheet" href="{% static 'styles/news_item.css' %}">
{% endblock customheaders %}

{% block content %}
<div class="news-container">
  <div class="container">
    <div class="social-share">
      <a href="#" class="social-link"><i class="fab fa-facebook-square"></i></a>
      <a href="#" class="social-link"><i class="fab fa-twitter"></i></a>
      <a href="#" class="social-link"><i class="fas fa-envelope"></i></a>
    </div>

    <div class="topic">{{ news.category.name }}</div>
    <div class="title">{{ news.title }}</div>
    <div class="autor">Publicado por <b>{{ news.autor.names }} {{ news.autor.last_names }}</b></div>
    <div class="date">{{ news.created_at|date:"d" }} de {{ news.created_at|date:"F, Y" }}</div>

    <div class="image">
      <img src="{{ news.image.url }}" alt="">
    </div>

    <div class="content">{{ news.content | safe }}</div>

    <div class="related-title">También te podría interesar</div>

    <div class="news-flexbox row">
      {% for news_item in news_related %}
      <div class="col-sm-4 news-item">
        <div class="white-container">
          <div class="image">
            <img src="{{news_item.image.url}}" alt="">
          </div>
          <div class="news-topic">{{ news_item.category.name }}</div>

          <div class="news-title">{{ news_item.title }}</div>

          <a href="/news/{{ news_item.slug }}" class="more">
            <span class="name">Ver más</span>
            <img src="{% static 'images/green_arrow.png' %}" alt="">
          </a>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</div>


{% endblock content %}

{% block script %}
{% endblock script %}
