.swiper {
  width: 100%;
  height: 85vh;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 10%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: left !important;
}
.swiper-slide .text-title {
  font-family: 'PublicSans-Bold';
  color: #ffffff;
  font-size: 4rem;
  text-transform: uppercase;
  line-height: 4rem;
  width: 40%;
}
.swiper-slide .text-subtitle {
  font-family: 'PublicSans-Regular';
  color: #ffffff;
  font-size: 3rem;
  line-height: 3rem;
  font-style: italic;
  text-transform: uppercase;
  width: 40%;
}


.block1 {
  background: #F4F4F4;
  padding-top: 100px;
  padding-bottom: 100px;
}
.block1 .block-content {
  display: flex;
  position: relative;
}
.block1 .block1-image {
  flex: 0 0 60%;
}
.block1 .block1-image img {
  width: 100%;
}
.block1 .block1-image iframe {
  width: 100%;
  height: 540px;
}
.block1 .points {
  position: absolute;
  right: -100px;
  top: -50px;
  z-index: 1;
}
.block1 .points img {
  width: 300px;
}
.block1 .block1-text {
  width: 60%;
  position: absolute;
  left: 57%;
  background: #ffffff;
  width: 500px;
  top: 10%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 2;
}
.block1 .block1-text .text1 {
  color: #666666;
  font-family: 'PublicSans-Light';
  font-size: 1.5rem;
}
.block1 .block1-text .text2 {
  color: #666666;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  margin-top: 2rem;
}



.middle-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.middle-block .text b {
  font-family: 'PublicSans-Bold';
  font-style: italic;
}
.middle-block .text {
  color: #999999;
  font-family: 'PublicSans-Regular';
  font-size: 2.75rem;
  line-height: 3rem;
  font-style: italic;
  text-align: center;
  width: 50%;
  margin: 0 auto;
}


.block2 {
  background: #F4F4F4;
  padding-top: 100px;
  padding-bottom: 100px;
}
.block2 .block-content {
  display: flex;
  position: relative;
  justify-content: flex-end;
}
.block2 .block2-image {
  flex: 0 0 60%;
}
.block2 .block2-image img {
  width: 100%;
}
.block2 .points {
  position: absolute;
  right: -100px;
  top: -50px;
  z-index: 1;
}
.block2 .points img {
  width: 300px;
}
.block2 .block2-text {
  width: 60%;
  position: absolute;
  left: 0;
  background: #ffffff;
  top: 10%;
  padding-top: 4rem;
  padding-bottom: 4rem;
  padding-left: 3rem;
  padding-right: 3rem;
  z-index: 2;
}
.block2 .block2-text .text1 {
  color: #666666;
  font-family: 'PublicSans-Light';
  font-size: 1.5rem;
}
.block2 .block2-text .text2 {
  color: #666666;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  margin-top: 3rem;
}


.icons-container {
  background: #F4F4F4;
  padding-bottom: 150px;
}
.icons-container .icon-item {
  padding: 0 3rem;
}
.icons-container .icon-item .icon {
  text-align: center;
  height: 100px;
}
.icons-container .icon-item .icon img {
  height: 100%;
}
.icons-container .icon-item .title {
  margin-top: 3rem;
  font-family: 'PublicSans-Bold';
  font-size: 2rem;
  line-height: 2rem;
  color: #000000;
}
.icons-container .icon-item .description {
  color: #666666;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  margin-top: 2rem;
}


.block3 {
  background-size: cover !important;
  background-position: center !important;
  padding-top: 75px;
}
.block3 .title {
  font-family: 'PublicSans-ExtraBold';
  font-size: 2.5rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.block3 .image-col {
  width: 60%;
  flex: 0 0 60%;
  position: relative;
}
.block3 .image-col img {
  width: 100%;
}
.block3 .image-col .company-logo {
  position: absolute;
  bottom: -50px;
  right: -50px;
}
.block3 .image-col .company-logo img {
  width: 200px;
}
.block3 .text-col {
  padding-left: 75px;
}
.block3 .text-col .text1 {
  font-family: 'PublicSans-Light';
  color: #ffffff;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.block3 .text-col .text2 {
  color: #ffffff;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  margin-top: 2rem;
}
.block3 .button-link-cont {
  background: unset;
  padding-bottom: 100px;
  margin-top: 100px;
}


.button-link-cont {
  padding-top: 2rem;
  padding-bottom: 150px;
  background: #F4F4F4;
  text-align: center;
}
.button-link-cont .button-link {
  background: #0FA4BD;
  font-family: 'PublicSans-Bold';
  font-size: 1.25rem;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2.5rem;
  border-radius: 10px;
}


.swiper-button-next, .swiper-button-prev {
  display: none;
}