.news-container {
  background: #F4F4F4;
  padding-top: 160px;
}
.news-container .container {
  position: relative;
}
.news-container .social-share {
  position: absolute;
  left: -60px;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 130px;
}
.news-container .social-share .social-link {
  margin-left: 0;
}
.news-container .topic {
  color: #999999;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
}
.news-container .title {
  font-family: 'PublicSans-Bold';
  color: #000000;
  font-size: 2.7rem;
  line-height: 2.755rem;
  margin-top: 1rem;
}
.news-container .autor {
  color: #666666;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  font-style: italic;
  margin-top: 1.5rem;
}
.news-container .autor b {
  font-family: 'PublicSans-Bold';
}
.news-container .date {
  color: #666666;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  font-style: italic;
}
.news-container .image {
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}
.news-container .image img {
  width: 100%;
}
.news-container .content strong {
  font-family: 'PublicSans-Bold';
  color: #000000;
}
.news-container .content h5 strong {
  font-family: 'PublicSans-Bold';
  font-size: .9rem;
  color: #606060;
}
.news-container .content img {
  width: 100% !important;
  height: auto !important;
}
.news-container .content {
  font-family: 'PublicSans-Regular';
  color: #666666;
}
.news-container .related-title {
  margin-top: 100px;
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'PublicSans-Bold';
  color: #000000;
  font-size: 2rem;
  text-transform: uppercase;
}




.news-container .news-flexbox {
  padding-bottom: 4rem;
}
.news-container .news-flexbox .news-item .white-container {
  background: #ffffff;
  padding-bottom: 3rem;
}
.news-container .news-flexbox .news-item {
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 2rem;
}
.news-container .news-flexbox .news-item .image {
  width: 100%;
  margin-bottom: 2rem;
}
.news-container .news-flexbox .news-item .image img {
  width: 100%;
}
.news-container .news-flexbox .news-item .news-topic {
  color: #999999;
  font-family: 'PublicSans-Regular';
  font-style: italic;
  text-transform: uppercase;
  font-size: .9rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-bottom: 2rem;
}
.news-container .news-flexbox .news-item .news-title {
  padding-left: 2rem;
  padding-right: 4rem;
  font-family: 'PublicSans-ExtraBold';
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  min-height: 120px;
}
.news-container .news-flexbox .news-item .more {
  margin-left: 2rem;
  font-family: 'Raleway-Bold';
  color: #000000;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 1px solid #000000;
}
.news-container .news-flexbox .news-item .more .name {
  margin-right: 10px;
}
.news-container .news-flexbox .news-item .more img {
  width: 25px;
}