.news {
  background: #F4F4F4;
  padding-top: 160px;
  padding-bottom: 160px;
}
.news .search-cont {
  display: flex;
  border: 1px solid #999999;
  width: 33%;
  max-width: 400px;
  border-radius: 30px;
  padding-right: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  background: #ffffff;
}
.news .search-cont input::placeholder {
  color: #B3B3B3;
}
.news .search-cont input {
  border: none;
  background: unset;
  color: #B3B3B3;
  font-family: 'PublicSans-Regular';
  flex: 1;
  padding-left: 15px;
}
.news .search-cont .icon {
  background: #0FA4BD;
  border-radius: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 4px;
}
.news .search-cont .icon img {
  height: 20px;
}

.news .news-container {}
.news .news-container .news-item:last-child {
  border-bottom: none;
}
.news .news-container .news-item {
  text-decoration: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.news .news-container .news-item .column {}
.news .news-container .news-item .column .topic {
  color: #999999;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
}
.news .news-container .news-item .column .title {
  font-family: 'PublicSans-Bold';
  color: #000000;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
.news .news-container .news-item .column .subtitle {
  font-family: 'PublicSans-Light';
  color: #666666;
  font-size: 1.25rem;
  line-height: 1.25rem;
  margin-top: 1rem;
}
.news .news-container .news-item .column .autor {
  color: #666666;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  font-style: italic;
  margin-top: 1.5rem;
}
.news .news-container .news-item .column .autor b {
  font-family: 'PublicSans-Bold';
}
.news .news-container .news-item .column .date {
  color: #666666;
  font-family: 'PublicSans-Regular';
  font-size: 1rem;
  font-style: italic;
}
.news .news-container .news-item .column .content {
  font-family: 'PublicSans-Regular';
  color: #666666;
}
.news .news-container .news-item .column .content strong {
  font-family: 'PublicSans-Bold';
  color: #000000;
}
.news .news-container .news-item .column .image {
  height: 100%;
  background-size: cover !important;
  background-position: left !important;
  background-repeat: no-repeat !important;
}